In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [3]:
df = pd.read_csv('Tayko-known.csv')
df.head()

,source_a,source_b,source_r,Freq,last_update_days_ago,Web order,Spending
0,0,1,0,2,183,1,128
1,0,0,0,2,194,0,127
2,1,0,0,1,161,0,174
3,0,0,0,1,73,0,192
4,0,0,1,2,147,1,386

In [4]:
df.shape

(500, 7)

In [5]:
# Q1) Response variable = Spending
# independent variables are: source_a, source_b, source_r, Freq, last update_days_agoand web order 
y = df['Spending']
X = df.drop('Spending', axis = 1)
regressor = LinearRegression()  
regressor.fit(X,y)

LinearRegression()

In [6]:
print(regressor.intercept_)
#For retrieving the slope:
print(regressor.coef_)

93.0654744282308
[42.75558935  1.50611681 56.27537858 81.20100669 -0.65589955 -2.45746776]

In [7]:
# Regression equation 
# Spending (y) = 93.06 + 42.76*source_a + 1.51*source_b + 56.28*source_r + 81.20*Freq - 0.66*last_update_days_ago 
#               - 2.46*Web order

In [8]:
import statistics as st

In [9]:
# Q II) Standard deviation of spending , mean of spending and RMSE ( Root mean square error ) 
# Mean of spending 
Mean_spending = np.mean(y)
Mean_spending

213.306

In [10]:
# Standard deviation of spending 
Standad_deviation = np.std(y)
Standad_deviation

227.74137165653494

In [11]:
# RMSE = Root mean squared error 
y_pred = regressor.predict(X)
print('Mean Absolute Error:', metrics.mean_absolute_error(y, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y, y_pred)))

Mean Absolute Error: 102.39488343229993
Mean Squared Error: 27639.628663559644
Root Mean Squared Error: 166.25170273882804

In [12]:
# Q III) regression equation to predict spending levels for the customer records in "Tayko-unknown.csv"
df1 = pd.read_csv('Tayko-unknown.csv')
df1

,source_a,source_b,source_r,Freq,last_update_days_ago,Web order,Spending
0,0,1,0,3,148,1,NaN
1,0,0,0,3,145,0,NaN
2,0,0,0,1,45,1,NaN
3,0,0,0,6,70,0,NaN
4,1,0,0,4,24,1,NaN
...,...,...,...,...,...,...,...
495,1,0,0,3,71,1,NaN
496,0,0,0,1,140,0,NaN
497,0,0,0,2,123,0,NaN
498,0,0,0,2,57,0,NaN
499,0,0,0,1,132,1,NaN

In [13]:
X1 = df1.drop('Spending', axis = 1)

In [14]:
Predicted_Spending = regressor.predict(X1)
# Predicted_Spending

In [15]:
# Q. 4) top 10 customers for predicted spending.
Predicted_Spending.sort()
Unknown_Spending = list(Predicted_Spending)
#Unknown_Spending[0:10] 1st 10 custmers

Unknown_Spending[490:] # List of top 10 customers for predicted spending.

[571.2110397020172,
 623.7907956645422,
 651.8001584716442,
 664.3843686608449,
 827.4422815863197,
 859.415228965431,
 888.1882835224123,
 938.648537013684,
 1012.3805474257596,
 1060.2626596821556]

In [27]:
# Q. 5 ) at least $250 in spending per catalog mailed. How many customers should you mail to, from Tayko-unknown.csv
for ele in Unknown_Spending:
    if ele >= 250.00:
        print(ele)

250.08975429254164
252.34570215348293
253.53538245118818
254.38559971188877
258.37933521464686
258.6150030777601
259.03523476164236
259.39446674676464
261.2386012657421
263.3738756561209
264.519544326443
264.772200260933
266.11959264038876
267.9651724850895
269.11084115541155
272.5564693140581
275.0139370783712
275.0480850381126
275.1800675020402
276.4918665960312
277.1037545156436
279.3681207185033
279.6052339073398
279.7713643310088
280.02402026549885
280.02402026549885
286.416885311785
286.8201289242905
286.9422477205763
289.44372711227254
291.4114257532591
293.5452548179146
293.5452548179146
294.1997090391868
295.468941831518
297.31452167621876
297.34866963596016
297.48065209988766
297.48065209988766
299.28222031720526
301.2499189581918
301.3720377544776
301.4160493818608
304.0382022441196
306.6632457578249
309.9427434928025
311.93862942382515
313.1782296003969
313.8341291473924
316.2036260751611
316.9915080860842
317.81353805674865
317.93565685303446
319.1253371507397
320.9269053680573
321.61839820051745
322.4330221757534
327.6520312616814
328.83184789174487
330.14364698573587
330.23161782228027
330.39774824594923
331.28931565605797
332.077197666981
338.01444154968203
338.92444235689095
343.5157391858595
345.91486872938765
349.00004875066014
351.87630287313226
353.3542323907923
354.9016993478965
355.15580060810987
356.38107419127977
356.8708433146063
361.22502695473844
363.8486251427205
365.563667849217
369.75172106568016
377.2037292714673
377.85818349273956
389.00992111738657
389.00992111738657
389.17605154105553
392.4555492760331
399.01454474598825
399.13666354227405
400.81611296330584
404.26174112195235
409.21082461031995
411.43262451151986
421.43724814012154
423.89471590443463
429.71128631657314
438.0718500038459
442.42603364397803
445.5394009552867
453.8134391317383
464.4725169816122
478.9037523412368
481.52735052921884
481.52735052921884
482.01711965254543
489.39814509316506
493.98944192213366
501.1603253117012
508.37522032865184
529.5301362561772
531.7349480860004
534.3585462739825
551.5780649195348
554.6899869051201
554.6914322308434
564.529925435776
565.3519554064405
571.2110397020172
623.7907956645422
651.8001584716442
664.3843686608449
827.4422815863197
859.415228965431
888.1882835224123
938.648537013684
1012.3805474257596
1060.2626596821556

In [33]:
# customers should you mail to  
Unknown_Spending[375] # It will retrive 375th index value from the list of Unknown spending.
# customers should you mail to are 126 in total.
# I think this is not correct way to find the answer.

250.08975429254164

In [34]:
# Comparision of predicted values and actual value it is not the part of the original question.
# df2 =  pd.DataFrame({'Actual': y, 'Predicted':y_pred })

In [35]:
# for first 25 values 
# abc = df2.head(25)
# abc.plot(kind='bar',figsize=(16,10))
# plt.grid(which='major', linestyle='-', linewidth='0.5', color='green')
# plt.show()